# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

SQL (sigle de Structured Query Language, en français langage de requête structurée) est un langage informatique normalisé servant à exploiter des bases de données relationnelles. La partie langage de manipulation des données de SQL permet de rechercher, d'ajouter, de modifier ou de supprimer des données dans les bases de données relationnelles. Outre le langage de manipulation des données, la partie langage de définition des données permet de créer et de modifier l'organisation des données dans la base de données, la partie langage de contrôle de transaction permet de commencer et de terminer des transactions, et la partie langage de contrôle des données permet d'autoriser ou d'interdire l'accès à certaines données à certaines personnes. [Source : Wikipédia](https://fr.wikipedia.org/wiki/Structured_Query_Language "Pas vraiment ouf de copier Wiki j'avoue")

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

Une base SQLite3 a la particularité d'être contenue dans un fichier qui porte le même nom. Le moteur de base de données 
SQLite3 est une bibliothèque, libsqlite3, qu'il est possible d'utiliser avec l'interface utilisateur en ligne de commande 
sqlite3 ou, via l'API C.SQLite3 présente l'avantage de n'avoir rien à configurer, rien à maintenir ou à administrer. 
C'est aussi son objectif. En contrepartie, certaines fonctionnalités sont absentes, comme la gestion des utilisateurs 
ou la possibilité de se connecter à distance à la base (en TCP/IP par exemple). [Source : Wiki Ubuntu FR](https://doc.ubuntu-fr.org/sqlite " Merci Lamia")

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

Il y a les formats CSV, XML et Json

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier texte car un fichier binaire ne peut comporter de texte

### Question 5: Donner les caractéristiques de la table `summer` ?

La table summer est une base de données comprenant 9 champs (Année, ville, sport, discipline, athlète, pays, genre, catégorie & médaille). Elle regroupe l'intégralité des médaillés olmypiques de la première édition à Olympe en 1896, à celle de 2012 qui avait pris place à Londres, le tout classé dans les 9 champs détaillés plus haut. Cela représente 31165 entrées (mais pas 31165 athlètes puisqu'une partie non négligeable de ceux-ci ont été médaillés à plusieurs reprises).

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

![Q6](./Snaps/Q6.jpg)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

![Q7](./Snaps/Q7.jpg)

### Question 8: Indiquer les années et villes des olympiades ?

![Q7](./Snaps/Q8.jpg)

## Question brief J.O:

#### Q1. Combien la France a remporté de médailles d’or aux JO de 1984 ? - (Christophe):

```sql
SELECT count(*)
FROM summer 
WHERE Year = "1984" and Country	= "FRA" and Medal = "Gold"
```

![Q1](./Snaps/Q1.jpg)

#### Q2. Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias):

```sql
SELECT Country, count(DISTINCT Athlete) as one
FROM summer 
GROUP by Country
ORDER BY one DESC
```

![Q2](./Snaps/Q2.jpg)

#### Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

```sql
SELECT count(*)
FROM summer 
WHERE Year = "2012" and Country	= "JPN"
```

![Q3](./Snaps/Q3.jpg)

#### Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)

```sql
SELECT DISTINCT Sport
FROM summer 
WHERE Country = "GRE"
```

![Q4](./Snaps/Q4.jpg)

#### Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

```sql
SELECT(Country), count (Medal = "Gold") as one
FROM summer 
WHERE medal = "Gold"
Group by Country
ORDER by one DESC
```

![Q5](./Snaps/Q5.jpg)

#### Q6 : Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)

````sql
SELECT DISTINCT(City)
FROM summer 
````

![Q7](./Snaps/Q7_1.jpg)

#### Q7 : Combien de femmes ont obtenu une médaille d’or ? (Lamia)

````sql
SELECT count(*)
FROM summer 
Where Medal = "Gold" and Gender = "Women"
````

![Q7](./Snaps/Q6_1.jpg)

#### Q8 : Combien de sports différents sont représentés par année ? (Joris)

````sql
SELECT Year, count(DISTINCT Sport)
FROM summer
GROUP BY Year
ORDER BY Year DESC
````

![Q9](./Snaps/Q8.jpg)

#### Q9 : Combien de fois Londres a accueilli les J.O ? (Marvin)

```` sql
SELECT (City),  count (Distinct Year)
FROM summer 
Where City = "London"
````

![Q9](./Snaps/Q10.jpg)

#### Q10 : Combien de joueuses comptait la sélection brésilienne de volley-ball médaillée d’or aux J.O de 2012 ? (Corentin P)

````sql
SELECT count(*)
FROM summer 
Where Year = "2012" and Gender = "Women" AND Country = "BRA" and Medal = "Gold" and Event = "Volleyball"
````

![Q9](./Snaps/Q11.jpg)

#### Q11 : Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (Izak)

``` sql
SELECT(Medal), count(Medal)
FROM summer 
Where Country = "FRA" and Gender = "Women" and Year = "2012"
Group by Medal
```

![Q11](./Snaps/Q12.jpg)

#### Q12 : Quel est l’athlète qui a remporté le plus de médailles d’or ? - (Mayel)

```` sql
SELECT Athlete, count (Medal) as one
FROM summer
Where Medal = "Gold"
Group by Athlete
Order by one desc
Limit 1
````

![Q12](./Snaps/Q13.jpg)

#### Q13 : Est-ce que la France à déjà gagné une médaille d’or au cricket ? (Jordan)

```sql
SELECT count (Medal)
FROM summer
Where Country = "FRA" and Sport = "Cricket" and Medal = "Gold"
```

![Q13](./Snaps/Q14.jpg)

#### Q14 : Combien de médaillés ont un nom de famille de plus de 6 lettres en excluant les années paires ? (Jonathan)

Pas de J.O en année impair

#### Q15 : Le nombre de médailles d’or par pays en 2012 (Maëlle)

```sql
SELECT Country, count (Medal) as one
FROM summer
Where Year = "2012" and Medal = "Gold"
Group by Country
Order by one desc
```

![Q15](./Snaps/Q15.jpg)

#### Q16 : Combien de femmes ont remporté des médailles ? (Alicia)

```sql
SELECT count (DISTINCT Athlete)
FROM summer
WHERE Gender = "Women"
```

![Q16](./Snaps/Q16.jpg)

#### Q17 : Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

```sql
SELECT Country, count (Medal)
FROM summer
Where Country = "FRA" and Year BETWEEN 1984 AND 2012
```

![Q17](./Snaps/Q17.jpg)

---

Fin